/* .navbar-item{
    position: sticky;
   
    font-family: 'Be Vietnam';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 51px;

background: linear-gradient(180deg, rgba(17, 17, 17, 0.97) 28.75%, rgba(58, 50, 50, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

} */
/* .navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
} */