.me-4 {
    margin-right: 82.5rem!important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-green {
    background-color: #00800061;
    padding-bottom: 25px;
}
.btn-success {
    color: green;
    background-color: green;
    border-color: #9FFFCB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  /* a.nav-link {
    padding-right: 70px !important;
    margin-left: 575px !important;
    
} */
input.me-4.form-control {
    PADDING-RIGHT: 188PX;
    MARGIN-RIGHT: 72PX;
    /* margin-left: 224px; */
}
/* a.navbar-brand {
    padding-left: 73px;
} */
div#navbarScroll {
    padding-right: 33px;
    padding-left: 249px;
}
/* a.nav-link {
   
    margin-left: 349px !important;
   
} */