

.cardss.card {
    width: 100% !important;
    
}
/* .cardss.card {
    margin-left: 13px;
    width: 146%;
    height: 272px;
    margin-right: -4px;
    padding-left: 1px;
} */
.cardss.card {
    margin: 5px !important;

    width: 300px !important;
    height: 272px;
    /* margin-right: -4px; */
    padding-left: 1px;
    /* margin-bottom: 23px; */
    
}
.card-image{
   width: 150px !important;
 height: 150px;
 align-self: center;
}